[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
galaxy-install = "ansible-galaxy install --roles-path=./roles --role-file=requirements.yml"
playbook-check = "ansible-playbook playbook.yml  --diff --check"
playbook = "ansible-playbook playbook.yml --diff"
check-facts = "ansible all -m setup --tree"
